.nav-bar,
.nav-menu,
header {
  display: flex;
}
.hero,
.nav-bar,
header {
  width: 100%;
}
.card,
.dropdown-menu,
.order-button,
header {
  box-shadow: var(--shadow);
}
.about > img,
.card > img,
.review > img {
  object-fit: cover;
}
.dropdown-menu,
.fa-solid,
.icon,
.toggle_btn,
body,
input,
textarea {
  color: var(--text);
}
:root {
  --primary: #ff6600;
  --text: #333333;
  --light-text: #666;
  --bg1: #fff;
  --bg2: #f9f9f9;
  --shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  --hover-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  --grey-light: #ccc;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}
body {
  font-family: Montserrat, sans-serif;
  line-height: 1.6;
  text-align: center;
  background-color: var(--bg1);
}
h1 {
  font-size: clamp(2.5rem, 6vw, 4rem);
  font-weight: 700;
}
h2,
h4 {
  font-weight: 600;
}
h2 {
  font-size: clamp(2rem, 5vw, 3rem);
}
h4 {
  font-size: 1.25rem;
}
p {
  color: var(--light-text);
  font-size: 1rem;
}
.fa-solid,
.icon {
  font-size: 2rem;
}
header {
  padding: 0 2rem;
  position: fixed;
  top: 0;
  z-index: 1000;
  background: #fff;
  min-height: 70px;
  align-items: center;
  will-change: transform;
}
.nav-bar {
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}
.nav-menu {
  gap: 3rem;
  font-size: 1rem;
  flex-grow: 0.5;
}
.arrow-left:disabled,
.arrow-right:disabled,
.toggle_btn {
  display: none;
}
.order-button,
.price {
  font-size: calc(18 / 16 * 1rem);
  font-weight: 700;
}
.toggle_btn {
  cursor: pointer;
}
.dropdown-menu {
  display: none;
  position: absolute;
  z-index: 10;
  top: 75px;
  right: 2rem;
  height: 0;
  min-width: 160px;
  background: var(--bg1);
  border-radius: 8px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown-menu.open {
  height: 240px;
}
.dropdown-menu li {
  padding: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero,
.menu {
  display: flex;
  flex-direction: column;
}
.hero {
  margin-top: 70px;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0,
      rgba(0, 0, 0, 0.6) 70%
    ),
    url(../photos/header.webp);
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: #fff;
  padding: 2rem;
}
.hero > p {
  color: var(--grey-light);
}
.order-button {
  background-color: var(--primary);
  color: #fff;
  border: none;
  border-radius: 12px;
  width: 213px;
  height: 60px;
  line-height: 60px;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.menu {
  background-color: var(--bg2);
  padding: 64px 16px;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.about,
.card {
  background-color: var(--bg1);
}
.benefits,
.card {
  flex-direction: column;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}
.about,
.benefit,
.benefits,
.card {
  display: flex;
}
.card {
  width: 280px;
  aspect-ratio: 7/9;
  border-radius: 12px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  gap: 1rem;
  transition: transform 0.3s, box-shadow 0.3s;
}
.benefit,
.review {
  border-radius: 16px;
  box-shadow: var(--shadow);
}
.card-text {
  padding: 0 30px;
}
.card > img {
  border-radius: 8px;
  width: 100%;
  aspect-ratio: 16/9;
}
.price {
  color: var(--primary);
  margin-top: 20px;
}
.about {
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 80px;
  padding: 80px;
}
.benefit,
.reviews {
  background-color: var(--bg2);
}
.about > img {
  max-width: 500px;
  width: 100%;
  height: auto;
  border-radius: 24px;
}
.benefits {
  gap: 40px;
  padding: 16px 10px;
}
.benefit-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.benefit {
  padding: 24px;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.delivery,
.reviews {
  display: flex;
  flex-direction: column;
}
.reviews {
  padding: 80px;
  align-items: center;
  gap: 64px;
  overflow: hidden;
}
.reviews-wrapper {
  max-width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.reviews-container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: mandatory;
  scroll-behavior: smooth;
  gap: 3.75rem;
  width: 100%;
  max-width: 380px;
  overflow: visible;
  transition: transform 0.4s;
}
.dot,
.review {
  transition: 0.3s;
}
.review {
  flex: 0 0 100%;
  scroll-snap-align: center;
  min-height: 280px;
  background-color: var(--bg1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 24px 20px;
  flex-shrink: 0;
  transform: translateY(40px);
  z-index: 1;
  opacity: 0.2;
}
.review.active {
  transform: translateY(0);
  opacity: 1;
  z-index: 2;
}
.review > img {
  border-radius: 100px;
  width: 80px;
  height: 80px;
}
.stars {
  color: gold;
  font-size: 24px;
}
.dots {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 10px;
}
.dot {
  width: 10px;
  height: 10px;
  background-color: var(--grey-light);
  border-radius: 50%;
}
.dot.active {
  background: var(--primary);
}
.arrow-right {
  right: -60px;
}
.arrow-left {
  left: -60px;
}
.arrow-left,
.arrow-right {
  position: absolute;
  background: 0 0;
  border: none;
  cursor: pointer;
  color: var(--grey-light);
  font-size: 40px;
}
.delivery {
  background-color: var(--bg1);
  padding: 70px;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
fieldset {
  display: contents;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
input,
textarea {
  min-width: 300px;
  min-height: 50px;
  padding: 10px 16px;
  border-radius: 12px;
  border: 2px solid var(--grey-light);
  outline: 0;
  resize: none;
  font-family: inherit;
  font-size: 1rem;
}
input::placeholder,
textarea::placeholder {
  color: var(--grey-light);
  opacity: 1;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  padding: 0;
  border: 0;
}
footer {
  padding: 24px 16px;
  background-color: #222;
  color: #fff;
  font-size: 14px;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 40px;
  text-align: left;
}
.footer-section {
  flex: 1 1 200px;
  min-width: 200px;
}
.footer-section h4 {
  font-weight: 700;
  font-size: 1.125rem;
}
.footer-section p {
  font-size: 0.8rem;
  color: var(--grey-light);
  margin: 4px 0;
  text-align: left;
}
.socials {
  display: flex;
  gap: 12px;
}
.fa-brands {
  font-size: 24px;
  transition: transform 0.2s;
}
.footer-bottom {
  width: 100%;
  text-align: center;
  color: #888;
  margin-top: 24px;
  font-size: 0.8rem;
}
@media (max-width: 1023px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .dropdown-menu,
  .toggle_btn {
    display: block;
  }
  .nav-menu {
    display: none;
  }
}
@media (max-width: 576px) {
  .card-container {
    grid-template-columns: 1fr;
  }
  .dropdown-menu {
    width: unset;
    left: 2rem;
  }
  .reviews-container {
    width: 280px;
  }
  .arrow-left,
  .arrow-right {
    position: absolute;
    top: 116%;
    font-size: 30px;
  }
  .arrow-left:focus,
  .arrow-right:focus {
    color: var(--primary);
  }
}
@media (hover: hover) {
  .arrow-left:hover,
  .arrow-right:hover,
  a:hover {
    color: var(--primary);
  }
  .order-button:hover {
    background-color: #f30;
    transform: scale(1.05);
    color: inherit;
  }
  .card:hover {
    box-shadow: var(--hover-shadow);
    transform: translateY(-5px);
  }
  .fa-brands:hover {
    transform: translateY(-2px);
  }
}
